$project-box-background: white;


#email-admin {
	background-color: white;
	width:70%;
	margin-left:15%;
	margin-top:3%;
	.box-div {
		margin:2%;
	}
}
#display-suspension-result {
	background-color: white;
	width:70%;
	margin-left:15%;
	margin-top:3%;
	.box-div {
		margin:2%;
	}
}
#error-message-color{
	color: red;
}