#user-search-view {
	margin-top:1em;
	margin-right:1%;
	width:48%;
}

#previously-reported {
	padding-left:1%;
	width:49%;
	border-left:1px solid #000;
}

.ban-text {
	font-family: SMTGothic;
}

.heading {
	font-size:20px;
	text-align:center;
	padding:0.5em;
}