#endorsement-widget {
	height:100%;
	background-color: #e4e4e4;
	padding:1em;
	overflow-y:scroll;
}
#photo-grid, #photo-grid tr {
	width:100%;
}

#photo-grid tr td {
	width: 23%;
	padding: 1%;
	text-align: center;
	background-color: lightgray;
}
#photo-grid tr td div{
	height:200px;
	min-height:200px;
	max-height:200px;
}